@font-face {
  font-family: "Merriweather";
  src: url("/src/assets/fonts/Merriweather/Merriweather-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("/src/assets/fonts/Merriweather/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c5c0b7 !important;
  color: #000 !important;
}

/* inicio da shapeDiv */
.custom-shape-divider-bottom-1720203688 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720203688 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 78px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1720203688 .shape-fill {
  fill: #fff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1720203688 svg {
    width: calc(145% + 1.3px);
    height: 41px;
  }
}
/* fim da shapeDiv */

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

.unfix-ios-bg {
  @supports (-webkit-touch-callout: none) {
    background-attachment: initial !important;
  }
}

@font-face {
  font-family: "Keep Calm";
  src: url("./fonts/KeepCalm-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
